body {
        font-family: Helvetica, Arial, sans-serif;
    }
    
    .wrapper {
        width: 800px;
        height: 400px;
	/*vertical-align:middle;*/
margin-left:auto;
margin-right:auto;
padding-top:200px;
        border: .5px solid #5298fc;
background-color: #efefef;
	opacity: .75;
    }
    
    h1 {
        font-size: 30px;
        margin: 0;
	text-align:center;
    }
    
    p {
        margin: 40px 0;
text-align:center;
    }
    
    em {
        font-family: monospace;
    }
    
    a {
        color: #5298fc;
        text-decoration: none;
    }
	body {
	width: 100%;
	height: 100%;
	background: url(../mtranier.jpg) no-repeat center center fixed;
	background-size:cover;
}
